*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-blue{
    background-color: blue;
}

.bg-orange{
    background-color: orange;
}

body{
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

#app{
    width: 100%;
}

.container{
    width: 100%;
    margin-top: 30px;
}

.content{
    height: 90vh;
    width: 100%;
}

.profile{
    width: 100%;
    height: 80px;
    background-color: red;
}

.notification{
    width: 100%;
    height: 80px;
    background-color: white;
}

.search{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.contacts{
    width: 100%;
    height: 461px;
    background-color: aqua;
}

.user, .new-message{
    width: 100%;
    height: 50px;
    background-color: blue;
}

.messages{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: 571px;
}





