*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layouts*/
body{
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

#app{
    width: 100%;
}

.container{
    width: 100%;
    margin-top: 30px;
}

.content{
    height: 90vh;
    width: 100%;
}

/*sezione sinistra*/
/*profili*/
.profile, .profile-2{
    width: 100%;
    height: 60px;
}

.profile{
    background-color: #eaeaea;
}

.notification{
    width: 100%;
    height: 60px;
    background-color: #8edafc;
}

.fa-bell-slash{
    font-size: 20px;
    padding: 10px 8px;
    margin: 10px;
}

/*sezione barra di ricerca*/
.search{
    width: 100%;
    background-color: white;
}

/*search box*/
.has-search .form-control {
    padding-left: 5.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.fa-search{
    border-right: 1px solid #b1b1b1;
}

/*sezione contatti*/
.contacts{
    width: 100%;
    height: calc(100% - 180px);
    overflow-y: auto;
}

.time-contacts, .last-message, .last-access{
    margin-right: 10px;
    font-size: 12px;
    color: #b1b1b1;
}

/*sezione destra*/
.user, .new-message{
    width: 100%;
}

.testo{
    background-color: #eaeaea;
    font-size: 20px;
}

/*messaggi*/
.messages{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 118px);
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
}

.sent, .received{
    padding: 15px 150px 13px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    position: relative;
}

.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received{
    background-color: white;
    align-self: flex-start;
}

.time-message{
    position: absolute;
    right: 2%;
    bottom: 2%;
    font-size: 12px;
    color: #b1b1b1;
}